
@{
    ViewBag.Title = "Intructions";
}

<h2>Intructions</h2>

<p>After placing your order, you will receive and email from Unlockriver.com saying that your iPhone has been successfully unlocked from the network’s server.
    Now there are just a few steps you need to follow to complete the unlocking process.</p>
<p>If you have important information in your iPhone, make sure you make a back up of all the data in your iPhone. You can do this by connecting your iPhone to iTunes and select “Back up now”. This will save a copy of all your contacts, photos, etc. in your computer.</p>

<p>Then follow these steps:</p>
<ul>
    <li>Make sure you have the latest version of iTunes installed. You can download it here: http://www.apple.com/itunes/download/.  The next 2 steps are optional to unlock your iPhone, but these 2 steps will make sure that your iPhone is running the latest operating system software. If you do not have the original carrier SIM card or do not wish to update your firmware, please go to step 4.</li>
    <li>If you have the SIM card from your original network (the network your iPhone is currently locked to), insert it. Connect your iPhone to your computer using the USB cable provided with your iPhone.</li>
    <li>Update your iPhone's software in iTunes by clicking “Update” or “Check for updates” and wait until the iPhone is fully updated. This may take awhile.</li>
    <li>Insert a SIM card from a new service provider into your iPhone. It doesn't has to be a SIM card from the network you wish to unlock - it can be any valid SIM card from ANY network provider except the network your iPhone is currently locked to.</li>
    <li>Connect your iPhone to your computer and wait for iTunes to detect your phone.</li>
    <li>Once it's been detected, disconnect the iPhone from your computer and wait for 20 seconds or so.</li>
    <li>Reconnect your iPhone to your computer and wait for iTunes to detect it again.</li>
    <li>Once your iPhone is detected for 2nd time, the process is completed and your iPhone will be unlocked. After searching for few seconds, you'll see your new carrier logo appear in the top left hand corner on the screen of your iPhone's. This unlock is permanent and you can update your iPhone's firmware at anytime.</li>
</ul>
Note: If you wish to see the unlock screen below within iTunes to confirm this is an official unlock, simply perform a restore within iTunes and once your iPhone is restored you will be presented with the message"Congratulation's, your iPhone has been unlocked" once the restore has completed.

