<?xml version="1.0"?>
<appSettings>

  <add key="SendGrid.ApiKey" value="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" />
  <add key ="Braintree.MerchantId" value="jsqv4q7hwdmqbxw2"/>
  <add key ="Braintree.PublicKey" value="6ngnd36v865sy76v"/>
  <add key ="Braintree.PrivateKey" value="9102e50913cea2233ba8760c023b0e32"/>


</appSettings>
